tmp/
temp/
test/
spec/
play/
tools/
coverage/
secrets/
src/
src/sample.ts
src/spec/
src/test/
dist/spec/
dist/sample.js
docs/
scripts/
.vscode
.gitignore
.npmignore
.travis.yml
.idea
.env
.nyc_output
tsconfig.json
tslint.json
gruntfile.js
gulpfile.config.js
gulpfile.js
.yo-rc-json
.eslintrc.json
!generators/app/templates/**/*